<p>
    <a class="btn btn-majorelle-blue btn-block text-left"
        href="https://facape-my.sharepoint.com/:f:/g/personal/cynara_carvalho_facape_br/EuljXhTRCPxKrMo2v5-0ZrkB_UFxqGd92nLRJdqUsptmCQ"
        target="_blank">
        <i class="fas fa-download mr-2"></i>
        Arquivos da Matéria
    </a>
</p>

<p>
    <article class="card">
        <header class="card-header p-0">
            <a class="btn btn-majorelle-blue btn-block text-left collapsed" data-toggle="collapse"
                href="#ementa-design-de-interface" aria-expanded="true" aria-controls="test-block">
                <i class="fas fa-file-alt mr-2"></i>
                Ementa da Matéria
                <span class="float-right">
                    <i class="fas fa-plus"></i>
                    <i class="fas fa-minus"></i>
                </span>
            </a>
        </header>

        <div id="ementa-design-de-interface" class="collapse">
            <div class="card-body">
                <section>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <b>Design de Interfaces e Usabilidade</b>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <b>CH Teórica:</b> 30H
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-12">
                            <ul class="list-inline">
                                <li><b>Objetivos</b></li>
                                <li>
                                    Definir a interação humano computador e apresentar abordagens clássicas e modernas
                                    de sua análise.
                                </li>
                                <li>
                                    Definir o conceito de design interativo de produtos de software e hardware a partir
                                    do uso de práticas de Engenharia de Usabilidade e Design Centrado no Usuário.
                                </li>
                                <li>
                                    Desenvolver competências para elaboração e execução de projetos de design interativo
                                    junto a profissionais da área de informática e afins centradas, por um lado, em
                                    abordagens cieníficas do comportamento e das necessidades humanas, e por outro lado,
                                    em práticas de elaboração criativas das soluções.
                                </li>
                                <li>
                                    Desenvolvver o potencial de gerar inovações centradas nas necessidades dos usuários
                                    a partir do incentivo à criatividade.
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </article>
</p>