<p>
    <a class="btn btn-majorelle-blue btn-block text-left" target="_blank"
        href="https://facape-my.sharepoint.com/:f:/g/personal/cynara_carvalho_facape_br/Egv6M6yM5wxLvrqBS3q3GqoBilYcXOUCuwKKzvKJlasJ3g?e=dMpZCr">
        <i class="fas fa-download mr-2"></i>
        Arquivos da Matéria
    </a>
</p>

<p>
    <article class="card">
        <header class="card-header p-0">
            <a class="btn btn-majorelle-blue btn-block text-left collapsed" data-toggle="collapse"
                href="#conteudo-projetos-de-sistemas" aria-expanded="true" aria-controls="test-block">
                <i class="fas fa-chalkboard-teacher mr-2"></i>
                Critérios Avaliativos
                <span class="float-right">
                    <i class="fas fa-plus"></i>
                    <i class="fas fa-minus"></i>
                </span>
            </a>
        </header>

        <div id="conteudo-projetos-de-sistemas" class="collapse">
            <div class="card-body">
                <container class="row">
                    <div class="col-md-12 col-lg-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" data-toggle="list" role="tab"
                                href="#conteudo-1-projetos-de-sistemas">
                                1ª Nota
                            </a>

                            <a class="list-group-item list-group-item-action" data-toggle="list" role="tab"
                                href="#conteudo-2-projetos-de-sistemas">
                                2ª Nota
                            </a>

                            <a class="list-group-item list-group-item-action" data-toggle="list" role="tab"
                                href="#conteudo-3-projetos-de-sistemas">
                                3ª Nota
                            </a>

                            <a class="list-group-item list-group-item-action" data-toggle="list" role="tab"
                                href="#conteudo-4-projetos-de-sistemas">
                                Final
                            </a>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-8 mt-3 mt-lg-0">
                        <div class="tab-content" id="nav-tabContent">
                            <container class="tab-pane fade show active" id="conteudo-1-projetos-de-sistemas"
                                role="tabpanel">
                                <div class="card">
                                    <header class="card-header">
                                        1ª Nota
                                    </header>

                                    <div class="card-body">
                                        <ul class="list-inline">
                                            <li><b>Distruibuição de Nota</b></li>
                                            <li>Atividades</li>
                                            <li>Avaliação</li>
                                            <li>Seminário</li>
                                        </ul>

                                        <ul class="list-inline">
                                            <li><b>Conteúdos</b></li>
                                            <li>Conceito e teoria de Sistemas</li>
                                            <li>Análise de Sistemas</li>
                                            <li>Análise Orientada a Objetos</li>
                                            <li>Processos de desenvolvimento</li>
                                        </ul>
                                    </div>
                                </div>
                            </container>

                            <container class="tab-pane fade" id="conteudo-2-projetos-de-sistemas" role="tabpanel">
                                <div class="card">
                                    <header class="card-header">
                                        2ª Nota
                                    </header>

                                    <div class="card-body">
                                        <ul class="list-inline">
                                            <li><b>Distruibuição de Nota</b></li>
                                            <li>PROJETO</li>
                                        </ul>

                                        <ul class="list-inline">
                                            <li><b>Conteúdo</b></li>
                                            <li>
                                                <a href="https://facape-my.sharepoint.com/:f:/g/personal/cynara_carvalho_facape_br/Eqk1hiEDUJxClATmVqZg5DYBfZ22zw09hOyF_vambWdOsg?e=VEWFTM"
                                                    target="_blank" rel="noopener noreferrer">
                                                    Consultar modelos de projeto
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </container>

                            <container class="tab-pane fade" id="conteudo-3-projetos-de-sistemas" role="tabpanel">
                                <div class="card">
                                    <header class="card-header">
                                        3ª Nota
                                    </header>

                                    <div class="card-body">
                                        <ul class="list-inline">
                                            <li><b>Conteúdo Manhã</b></li>
                                            <li>Processos de desenvolvimento</li>
                                            <li>Análise de Requisitos</li>
                                            <li>UML</li>
                                            <li>Técnicas e tipos de requisitos</li>
                                        </ul>

                                        <ul class="list-inline">
                                            <li><b>Conteúdo Noite</b></li>
                                            <li>Processos de desenvolvimento</li>
                                            <li>Análise de Requisitos</li>
                                            <li>UML</li>
                                            <li>Técnicas e tipos de requisitos</li>
                                        </ul>
                                    </div>
                                </div>
                            </container>

                            <container class="tab-pane fade" id="conteudo-4-projetos-de-sistemas" role="tabpanel">
                                <div class="card">
                                    <header class="card-header">
                                        Final
                                    </header>

                                    <div class="card-body">
                                        <ul class="list-inline">
                                            <li><b>Conteúdo</b></li>
                                            <li><b>TUDO</b> = Não Adianta Chorar!</li>
                                        </ul>
                                    </div>
                                </div>
                            </container>
                        </div>
                    </div>
                </container>
            </div>
        </div>
    </article>
</p>

<p>
    <article class="card">
        <header class="card-header p-0">
            <a class="btn btn-majorelle-blue btn-block text-left collapsed" data-toggle="collapse"
                href="#ementa-projetos-de-sistemas" aria-expanded="true" aria-controls="test-block">
                <i class="fas fa-file-alt mr-2"></i>
                Ementa da Matéria
                <span class="float-right">
                    <i class="fas fa-plus"></i>
                    <i class="fas fa-minus"></i>
                </span>
            </a>
        </header>

        <div id="ementa-projetos-de-sistemas" class="collapse">
            <div class="card-body">
                <section class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <b>Projetos de Sistemas</b>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <b>Tipo:</b> Obrigatório
                    </div>
                </section>

                <section class="row mt-2">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <b>CH Teórica:</b> 40H
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <b>CH Prática:</b> 20H
                    </div>
                </section>

                <section class="row mt-2">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <b>Pré-Requisito:</b> Programação 3
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <b>Equivalência:</b> Engenharia de Software 1
                    </div>
                </section>

                <section class="row mt-2">
                    <div class="col-md-12">
                        <b>Ementa:</b> Processo de Desenvolvimento de Software;
                        Ciclo de Vida de
                        Desenvolvimento de Software; Qualidade de Software;
                        Técnicas
                        de
                        Planejamento e Gerenciamento de Software; Gerenciamento
                        de
                        Configuração
                        de Software; Engenharia de Requisitos; Métodos de
                        Análise e
                        de Projeto
                        de Software; Garantia de Qualidade de Software;
                        Verificação,
                        Validação e
                        Teste.
                    </div>
                </section>

                <section class="row mt-2">
                    <div class="col-md-12">
                        <b>Bibliografia Básica:</b> SOMMERVILLE, I. Engenharia
                        de
                        Software, São
                        Paulo: Pearson Addison Wesley, Campus, 2003
                        PRESSMAN, R. S. Engenharia de Software, São Paulo
                        :Makron
                        Books, 2006
                        INTHURN, C. Qualidade & Teste de Software, Editora
                        Visual
                        Books, 2001
                    </div>
                </section>

                <section class="row mt-2">
                    <div class="col-md-12">
                        <b>Bibliografia Complementar:</b> POMPILHO, S. Análise
                        Essencial: Guia
                        Prático de Análise Essencial. Editora Ciência Moderna.
                        1995.
                        PIDD, M. Modelagem Empresarial, Ferramentas para tomada
                        de
                        decisão.
                        Editora BookMan. 1998
                    </div>
                </section>
            </div>
        </div>
    </article>
</p>