<p>
    <a class="btn btn-majorelle-blue btn-block text-left" target="_blank"
        href="https://facape-my.sharepoint.com/:f:/g/personal/cynara_carvalho_facape_br/Ejlc79wR_AJMmqLFVZV8uzYBkYhMx03fhBfvP8VN5snkjw">
        <i class="fas fa-download mr-2"></i>
        Arquivos da Matéria
    </a>
</p>

<p>
    <article class="card">
        <header class="card-header p-0">
            <a class="btn btn-majorelle-blue btn-block text-left collapsed" data-toggle="collapse"
                href="#conteudo-gestao-de-projetos" aria-expanded="true" aria-controls="test-block">
                <i class="fas fa-chalkboard-teacher mr-2"></i>
                Critérios Avaliativos
                <span class="float-right">
                    <i class="fas fa-plus"></i>
                    <i class="fas fa-minus"></i>
                </span>
            </a>
        </header>

        <div id="conteudo-gestao-de-projetos" class="collapse">
            <div class="card-body">
                <container class="row">
                    <div class="col-md-12 col-lg-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" data-toggle="list" role="tab"
                                href="#conteudo-1-gestao-de-projetos">
                                1ª Nota
                            </a>

                            <a class="list-group-item list-group-item-action" data-toggle="list" role="tab"
                                href="#conteudo-2-gestao-de-projetos">
                                2ª Nota
                            </a>

                            <a class="list-group-item list-group-item-action" data-toggle="list" role="tab"
                                href="#conteudo-3-gestao-de-projetos">
                                3ª Nota
                            </a>

                            <a class="list-group-item list-group-item-action" data-toggle="list" role="tab"
                                href="#conteudo-4-gestao-de-projetos">
                                Final
                            </a>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-8 mt-3 mt-lg-0">
                        <div class="tab-content" id="nav-tabContent">
                            <container class="tab-pane fade show active" id="conteudo-1-gestao-de-projetos"
                                role="tabpanel">
                                <div class="card">
                                    <header class="card-header">
                                        1ª Nota
                                    </header>

                                    <div class="card-body">
                                        <ul class="list-inline">
                                            <li><b>Distruibuição de Nota</b></li>
                                            <li>Atividades</li>
                                            <li>Avaliação</li>
                                        </ul>

                                        <ul class="list-inline">
                                            <li><b>Conteúdos</b></li>
                                            <li>Aula 01 - Introdução</li>
                                            <li>Aula 02 - Sucesso e Fracasso dos Projetos</li>
                                            <li>Aula 03 - Relacionamentos Entre Gerenciamento ...</li>
                                            <li>Aula 04 - Influências Organizacionais no ...</li>
                                            <li>Aula 05 - Stakeholders</li>
                                            <li>Aula 06 - Estruturas Organizacionais</li>
                                            <li>Aula 07 - PMO - Escritório de Projeto</li>
                                            <li>Aula 08 - Papéis dos gerentes de Projetos</li>
                                            <li>Aula 09 - Ciclo de vida dos Projetos</li>
                                        </ul>
                                    </div>
                                </div>
                            </container>

                            <container class="tab-pane fade" id="conteudo-2-gestao-de-projetos" role="tabpanel">
                                <div class="card">
                                    <header class="card-header">
                                        2ª Nota
                                    </header>

                                    <div class="card-body">
                                        <ul class="list-inline">
                                            <li><b>Distruibuição de Nota</b></li>
                                            <li>PROJETO</li>
                                        </ul>

                                        <ul class="list-inline">
                                            <li><b>Conteúdo</b></li>
                                            <li>
                                                <a href="https://facape-my.sharepoint.com/:f:/g/personal/cynara_carvalho_facape_br/EsRvbWnfX7FLtH7Ea80gPjMBls5Uh-qnjMC0_v6wfXXH7Q?e=xlzlhI"
                                                    target="_blank" rel="noopener noreferrer">
                                                    Consultar modelos de projeto
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </container>

                            <container class="tab-pane fade" id="conteudo-3-gestao-de-projetos" role="tabpanel">
                                <div class="card">
                                    <header class="card-header">
                                        3ª Nota
                                    </header>

                                    <div class="card-body">
                                        <ul class="list-inline">
                                            <li><b>Conteúdo</b></li>
                                            <li>Aula 10 - Processos de Gerenciamento de Projetos</li>
                                            <li>Aula 11 - Gerenciamento da Integração do Projeto</li>
                                            <li>Aula 12 - Gerenciamento do Escopo do Projeto</li>
                                            <li>Aula 13 - Gerenciamento do Tempo do Projeto</li>
                                            <li>Aula 14 - Gerenciamento dos Custos do Proejto</li>
                                            <li>Aula 15 - Gerenciamento dos Riscos do Projeto</li>
                                            <li>Aula 16 - Gerenciamento da Qualidade do Projeto</li>
                                            <li>Aula 17 - Gerenciamento das Comunicações do Projeto</li>
                                        </ul>
                                    </div>
                                </div>
                            </container>

                            <container class="tab-pane fade" id="conteudo-4-gestao-de-projetos" role="tabpanel">
                                <div class="card">
                                    <header class="card-header">
                                        Final
                                    </header>

                                    <div class="card-body">
                                        <ul class="list-inline">
                                            <li><b>Conteúdo</b></li>
                                            <li><b>TUDO</b> = Não Adianta Chorar!</li>
                                        </ul>
                                    </div>
                                </div>
                            </container>
                        </div>
                    </div>
                </container>
            </div>
        </div>
    </article>
</p>

<p>
    <article class="card">
        <header class="card-header p-0">
            <a class="btn btn-majorelle-blue btn-block text-left collapsed" data-toggle="collapse"
                href="#ementa-gestao-de-projetos" aria-expanded="true" aria-controls="test-block">
                <i class="fas fa-file-alt mr-2"></i>
                Ementa da Matéria
                <span class="float-right">
                    <i class="fas fa-plus"></i>
                    <i class="fas fa-minus"></i>
                </span>
            </a>
        </header>

        <div id="ementa-gestao-de-projetos" class="collapse">
            <div class="card-body">
                <section class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <b>Gestão de Projetos em TI</b>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <b>Tipo:</b> Eletiva
                    </div>
                </section>

                <section class="row mt-2">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <b>CH Teórica:</b> 40H
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <b>CH Prática:</b> 20H
                    </div>
                </section>

                <section class="row mt-2">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <b>Pré-Requisito:</b> Não tem pré-requisito
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <b>Equivalência:</b> Não tem Equivalência
                    </div>
                </section>

                <section class="row mt-2">
                    <div class="col-md-12">
                        <b>Ementa:</b> Fundamentos de gerência de projetos. Modelos organizacionais. Instrumentos de
                        gerência.
                    </div>
                </section>

                <section class="row mt-2">
                    <div class="col-md-12">
                        <b>Bibliografia Básica:</b> HELDMAN,K. Gerência de projetos fundamentos: um guia prático para
                        quem quer certificação em gerência de projetos: Rio de Janeiro, Elsevier, 2005.
                        GUERREIRO, Karen Menger da Silva, Paula Renata Ferreira, Antônio. Siemsen Munhoz; Adriano
                        Stadler (Org.). Gestão de processos com suporte em tecnologia da informação. Curitiba:
                        InterSaberes, 2013. PRESSMAN, Roger S. Engenharia de Software. 6. ed. São Paulo: McGraw-Hill,
                        2006.
                    </div>
                </section>

                <section class="row mt-2">
                    <div class="col-md-12">
                        <b>Bibliografia Complementar:</b> ROCHA, Ana Regina Cavalcanti da. Qualidade de Software.
                        Editora: Makron Books, 2001
                    </div>
                </section>
            </div>
        </div>
    </article>
</p>