<p>
    <a class="btn btn-majorelle-blue btn-block text-left"
        href="https://facape-my.sharepoint.com/:f:/g/personal/cynara_carvalho_facape_br/Eu5a2C0WSwJLtqkiRSc0Ei0BSKE7qclPg1dIBvTNrkHfBw?e=APNLel"
        target="_blank">
        <i class="fas fa-download mr-2"></i>
        Arquivos da Matéria
    </a>
</p>

<p>
    <article class="card">
        <header class="card-header p-0">
            <a class="btn btn-majorelle-blue btn-block text-left collapsed" data-toggle="collapse"
                href="#conteudo-interacao-humano-computador" aria-expanded="true" aria-controls="test-block">
                <i class="fas fa-chalkboard-teacher mr-2"></i>
                Critérios Avaliativos
                <span class="float-right">
                    <i class="fas fa-plus"></i>
                    <i class="fas fa-minus"></i>
                </span>
            </a>
        </header>

        <div id="conteudo-interacao-humano-computador" class="collapse">
            <div class="card-body">
                <container class="row">
                    <div class="col-md-12 col-lg-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" data-toggle="list" role="tab"
                                href="#conteudo-1-interacao-humano-computador">
                                1ª Nota
                            </a>

                            <a class="list-group-item list-group-item-action" data-toggle="list" role="tab"
                                href="#conteudo-2-interacao-humano-computador">
                                2ª Nota
                            </a>

                            <a class="list-group-item list-group-item-action" data-toggle="list" role="tab"
                                href="#conteudo-3-interacao-humano-computador">
                                3ª Nota
                            </a>

                            <a class="list-group-item list-group-item-action" data-toggle="list" role="tab"
                                href="#conteudo-4-interacao-humano-computador">
                                Final
                            </a>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-8 mt-3 mt-lg-0">
                        <div class="tab-content" id="nav-tabContent">
                            <container class="tab-pane fade show active" id="conteudo-1-interacao-humano-computador"
                                role="tabpanel">
                                <div class="card">
                                    <header class="card-header">
                                        1ª Nota
                                    </header>

                                    <div class="card-body">
                                        <ul class="list-inline">
                                            <li><b>Distruibuição de Nota</b></li>
                                            <li>Desing de Interação [Atividade]</li>
                                            <li>Qualidade em IHC [Atividade]</li>
                                            <li>Avaliação</li>
                                        </ul>

                                        <ul class="list-inline">
                                            <li><b>Conteúdos</b></li>
                                            <li>Aula 01 - Introdução, Conceitos Básicos</li>
                                            <li>Aula 02 - Percepção, Estilos de Interação</li>
                                            <li>Aula 04 - Bases Teóricas</li>
                                            <li>Aula 05 - Critérios e Recomendações Ergonômicas</li>
                                        </ul>
                                    </div>
                                </div>
                            </container>

                            <container class="tab-pane fade" id="conteudo-2-interacao-humano-computador"
                                role="tabpanel">
                                <div class="card">
                                    <header class="card-header">
                                        2ª Nota
                                    </header>

                                    <div class="card-body">
                                        <ul class="list-inline">
                                            <li><b>Distruibuição de Nota</b></li>
                                            <li>PROJETO</li>
                                        </ul>

                                        <ul class="list-inline">
                                            <li><b>Conteúdo</b></li>
                                            <li>
                                                <a href="https://facape-my.sharepoint.com/:f:/g/personal/cynara_carvalho_facape_br/EhZiedfJKxpFkF-CFRjQGaYB9DbZtwrQX5YuWt389yyurw?e=wuZOHL"
                                                    target="_blank" rel="noopener noreferrer">
                                                    Consultar modelo de projeto
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </container>

                            <container class="tab-pane fade" id="conteudo-3-interacao-humano-computador"
                                role="tabpanel">
                                <div class="card">
                                    <header class="card-header">
                                        3ª Nota
                                    </header>

                                    <div class="card-body">
                                        <ul class="list-inline">
                                            <li><b>Conteúdo</b></li>
                                            <li>Aula 06 - Engenharia de Usabilidade</li>
                                            <li>Aula 07 - Métodos de Elicitação de Requisitos</li>
                                            <li>Aula 08 - Prototipação</li>
                                            <li>Aula 09 - Introdução à Avanliação de Interfaces</li>
                                            <li>Aula 10 - Tecnicas para Avalição de Interfaces</li>
                                        </ul>
                                    </div>
                                </div>
                            </container>

                            <container class="tab-pane fade" id="conteudo-4-interacao-humano-computador"
                                role="tabpanel">
                                <div class="card">
                                    <header class="card-header">
                                        Final
                                    </header>

                                    <div class="card-body">
                                        <ul class="list-inline">
                                            <li><b>Conteúdo</b></li>
                                            <li><b>TUDO</b> = Não Adianta Chorar!</li>
                                        </ul>
                                    </div>
                                </div>
                            </container>
                        </div>
                    </div>
                </container>
            </div>
        </div>
    </article>
</p>

<p>
    <article class="card">
        <header class="card-header p-0">
            <a class="btn btn-majorelle-blue btn-block text-left collapsed" data-toggle="collapse"
                href="#ementa-interacao-humano-computador" aria-expanded="true" aria-controls="test-block">
                <i class="fas fa-file-alt mr-2"></i>
                Ementa da Matéria
                <span class="float-right">
                    <i class="fas fa-plus"></i>
                    <i class="fas fa-minus"></i>
                </span>
            </a>
        </header>

        <div id="ementa-interacao-humano-computador" class="collapse">
            <div class="card-body">
                <section>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <b>Interação Humano-Computador</b>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <b>Tipo:</b> Obrigatório
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <b>CH Teórica:</b> 40H
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <b>CH Prática:</b> 20H
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <b>Pré-Requisito:</b> Engenharia de Software 1
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <b>Equivalência:</b> Interface Humano-Computador
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-12">
                            <b>Ementa:</b> Fatores Humanos em Software Interativo:
                            Teoria, Princípios e Regras Básicas; Estilos Interativos;
                            Linguagens de Comandos; Manipulação Direta; Dispositivos de
                            Interação; Padrões para Interface; Usabilidade: Definição e
                            Métodos para Avaliação; A Natureza da Iteração com o Usuário
                            e Ambientes Virtuais.
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-12">
                            <b>Bibliografia Básica:</b> PREECE, R. & S. Design de
                            Interação. Além da interação homem computador.
                            CYBIS, W.; BETIOL, A. H.; e FAUST, R. Ergonomia e
                            Usabilidade. Conhecimentos, Métodos e Aplicações.
                            ROCHA, H. V. da; e BARANAUSKAS, M. C. C. Design e Avaliação
                            de Interfaces Humano-Computador.
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-12">
                            <b>Bibliografia Complementar:</b> BENTON, D. Interação
                            Humano Computador – 2ª Edição
                            BARBOSA, S. D. J.; e da SILVA, B. S. Interação
                            Humano-computador
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </article>
</p>